<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>

<body>
    <form action='/result' method='post'>
        <label for="name">Your Name:</label> <input type="text" id="name" name="name">
        <div>
            <label for="location">Dojo Location</label>
            <select name="location" id="locations">
                <option value="Palo Alto">Palo Alto</option>
                <option value="Sunnyvale">Sunnyvale</option>
                <option value="Seattle">Seattle</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div>
            <label for="language">Programming Language</label>
            <select name="language" id="languages">
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="JavaScript">JavaScript</option>
                <option value="C#">C#</option>
            </select>
        </div>
        <div>
            <label for="comment">Comments:(optional)</label>
        </div>
            <textarea id="comment" name="comment" rows="4" cols="50">

            </textarea>
            <button type="submit">Button</button>
    </form>
</body>

</html>